In [ ]:
!pip install snscrape

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting snscrape
  Downloading snscrape-0.3.4-py3-none-any.whl (35 kB)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from snscrape) (4.9.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from snscrape) (4.6.3)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.7/dist-packages (from snscrape) (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->snscrape) (2022.6.15)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->snscrape) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->snscrape) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->snscrape) (3.0.4)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->snscrape) (1.7.1)
Installing collected packages: snscrape
Successfully installed snscrape-0.3.4

In [ ]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

# Creating list to append tweet data to
attributes_container = []

# Using TwitterSearchScraper to scrape data and append tweets to list

for i,tweet in enumerate(sntwitter.TwitterSearchScraper('FIFAWorldcup2022 since:2022-08-19 until:2022-09-20').get_items()):
    if i>500:
        break
    attributes_container.append([tweet.date, tweet.content])
    
# Creating a dataframe to load the list
tweets_df1 = pd.DataFrame(attributes_container, columns=["Date Created", "Tweet"])

tweets_df1

,Date Created,Tweet
0,2022-09-19 14:01:25+00:00,@FeraSY1 #Atom is not the only one.\n\nLook at...
1,2022-09-19 13:12:44+00:00,A big test ahead of the #FIFAWorldCup2022 !! \...
2,2022-09-19 12:00:09+00:00,Moving just got better... #ComingSoon \nFor bu...
3,2022-09-19 09:50:13+00:00,Fifa World Cup visitors are now buying propert...
4,2022-09-19 06:44:42+00:00,We are counting down to #Qatar2022 !! \n\n#GTV...
...,...,...
496,2022-09-01 15:31:36+00:00,🔥TIREI UMA FIGURINHA RARA!!!\n\n👉Vem conferir ...
497,2022-09-01 15:24:59+00:00,Top expensive players from the France National...
498,2022-09-01 14:45:42+00:00,Are you excited for all the events happening d...
499,2022-09-01 14:30:49+00:00,See you at FIFA World Cup 2022 in Qatar 😎🙌⚽\n\...
500,2022-09-01 14:19:15+00:00,Côte d'Ivoire: Le président ivoirien Alassane ...

In [ ]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

# Creating list to append tweet data to
attributes_container = []

# Using TwitterSearchScraper to scrape data and append tweets to list

for i,tweet in enumerate(sntwitter.TwitterSearchScraper('qatar2022 since:2022-08-19 until:2022-09-20').get_items()):
    if i>500:
        break
    attributes_container.append([tweet.date, tweet.content])
    
# Creating a dataframe to load the list
tweets_df2 = pd.DataFrame(attributes_container, columns=["Date Created", "Tweet"])

tweets_df2

,Date Created,Tweet
0,2022-09-19 14:01:22+00:00,In #Qatar2022 ⚽️ zullen de verhoudingen 🇧🇪 🇳🇱 ...
1,2022-09-19 14:01:00+00:00,"En su columna de este lunes, @FJG_TD habla del..."
2,2022-09-19 14:00:46+00:00,¡UNA BELLEZA! Con Kevin De Bruyne 🎩 a la cabez...
3,2022-09-19 14:00:39+00:00,Year 13 visited the University Expo Qatar 2022...
4,2022-09-19 14:00:03+00:00,FIFA desestimó la reclamación de Chile y Perú ...
...,...,...
496,2022-09-19 07:07:27+00:00,La rencontre opposant Al Hilal à Zamalek au st...
497,2022-09-19 07:04:35+00:00,Todos con sus novi@s que les regalan su álbum ...
498,2022-09-19 07:02:28+00:00,"@FCFSeleccionCol Sr lesiones, no debió ser lla..."
499,2022-09-19 07:00:00+00:00,❤️ El precio de los sobres del álbum de #Qatar...
500,2022-09-19 06:56:16+00:00,Watford 3 West Ham United 1 \nMatch report: Wi...

In [ ]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

# Creating list to append tweet data to
attributes_container = []

# Using TwitterSearchScraper to scrape data and append tweets to list

for i,tweet in enumerate(sntwitter.TwitterSearchScraper('sportswashing since:2022-08-19 until:2022-09-20').get_items()):
    if i>500:
        break
    attributes_container.append([tweet.date, tweet.content])
    
# Creating a dataframe to load the list
tweets_df3 = pd.DataFrame(attributes_container, columns=["Date Created", "Tweet"])

tweets_df3

,Date Created,Tweet
0,2022-09-19 13:52:59+00:00,"Good for Mbappe, I say. Now to take a sip of w..."
1,2022-09-19 12:07:12+00:00,@PoorPints Deserves it for supporting sportswa...
2,2022-09-19 11:34:49+00:00,@AlanShipnuck Given the evolution in tone and ...
3,2022-09-19 11:29:22+00:00,@MarkMartindale Forgetting he sold whatever so...
4,2022-09-19 11:14:34+00:00,😊\n\nAmazing what a bit of sportswashing can d...
...,...,...
496,2022-09-12 14:51:29+00:00,Citibank also advised Saudi Arabia on its $380...
497,2022-09-12 14:44:49+00:00,@MiguelDelaney @JoeD_Nufc @Carmonte When the N...
498,2022-09-12 14:43:33+00:00,@arseblog Gambling ads? No problem. Oligarchs ...
499,2022-09-12 14:35:30+00:00,@MaxKRamzy @SYeezy05 @GeekyRob @Ifcelliot Yes ...
500,2022-09-12 14:25:32+00:00,"@MiguelDelaney @Carmonte Im from Derry, like J..."

In [ ]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

# Creating list to append tweet data to
attributes_container = []

# Using TwitterSearchScraper to scrape data and append tweets to list

for i,tweet in enumerate(sntwitter.TwitterSearchScraper('BoycottQatar2022 since:2022-08-19 until:2022-09-20').get_items()):
    if i>500:
        break
    attributes_container.append([tweet.date, tweet.content])
    
# Creating a dataframe to load the list
tweets_df4 = pd.DataFrame(attributes_container, columns=["Date Created", "Tweet"])

tweets_df4

,Date Created,Tweet
0,2022-09-19 14:01:12+00:00,Pour courir après le pognon il est champion. \...
1,2022-09-19 13:59:41+00:00,@libe @PaulQuinio Bien sûr que non il n'est pa...
2,2022-09-19 13:53:54+00:00,Honnêtement j'y ai cru 🙄\n#BoycottQatar2022 ht...
3,2022-09-19 13:53:10+00:00,@RMCsport Monsieur a trop d'éthique pour s'ass...
4,2022-09-19 13:51:40+00:00,@lequipe C'est ballot qu'il n'ait pas entendu ...
...,...,...
496,2022-09-17 12:46:53+00:00,#BoycottQatar2022 https://t.co/V7TNWMYJLf
497,2022-09-17 12:38:47+00:00,"@sport_thies Und die Frauen kicken weiter, wäh..."
498,2022-09-17 12:37:19+00:00,Derby und klare Kante!\n#boycottqatar2022 http...
499,2022-09-17 12:18:51+00:00,#BoycottQatar2022 https://t.co/DKespSpjn2
500,2022-09-17 12:17:10+00:00,Regarder la @fifaworldcup_fr 2022 c est dire o...

In [ ]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

# Creating list to append tweet data to
attributes_container = []

# Using TwitterSearchScraper to scrape data and append tweets to list

for i,tweet in enumerate(sntwitter.TwitterSearchScraper('sportsvasking since:2022-08-19 until:2022-09-20').get_items()):
    if i>500:
        break
    attributes_container.append([tweet.date, tweet.content])
    
# Creating a dataframe to load the list
tweets_df5 = pd.DataFrame(attributes_container, columns=["Date Created", "Tweet"])

tweets_df5

,Date Created,Tweet
0,2022-09-18 16:42:32+00:00,@OleAsbjoernNess @Arabar110 @PepsiGro @Civita_...
1,2022-09-17 19:02:08+00:00,Sportsvasking direkte på TV i øyeblikket🔪⚰️
2,2022-09-17 11:02:40+00:00,Her sender Erling jakka si til sportsvasking. ...
3,2022-09-17 06:01:45+00:00,I 1972 forekommer et av de første tilfellene a...
4,2022-09-16 21:02:43+00:00,@MortenMyksvoll Sportsvasking på steroider. Me...
...,...,...
246,2022-08-20 12:34:06+00:00,KOMMENTAR: Vi må snakke mer om dem som legger ...
247,2022-08-19 18:20:36+00:00,Aldri har jeg fått et spørsmål sagd så hardt f...
248,2022-08-19 16:28:52+00:00,Interessant og hyggelig å være gjest i prat om...
249,2022-08-19 12:34:10+00:00,@aselliaas Muligens noen som i ytringsfriheten...
250,2022-08-19 07:49:59+00:00,PROSJEKT! Vi skal iløpet av høsten videreutvik...

In [ ]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

# Creating list to append tweet data to
attributes_container = []

# Using TwitterSearchScraper to scrape data and append tweets to list

for i,tweet in enumerate(sntwitter.TwitterSearchScraper('HumanRights_worldcup since:2022-08-19 until:2022-09-20').get_items()):
    if i>500:
        break
    attributes_container.append([tweet.date, tweet.content])
    
# Creating a dataframe to load the list
tweets_df6 = pd.DataFrame(attributes_container, columns=["Date Created", "Tweet"])

tweets_df6

,Date Created,Tweet
0,2022-09-19 13:38:09+00:00,My reply to the Qatari's that keep sending mes...
1,2022-09-19 11:47:53+00:00,@TamimBinHamad #Qatar keep sending out the mes...
2,2022-09-19 10:18:30+00:00,"Don't worry Football fans, The Monarchy &amp; ..."
3,2022-09-19 06:06:32+00:00,4/ We are optimistic that HH Emir of #Qatar wi...
4,2022-09-19 06:06:31+00:00,3/ Gulf region is witnessing a positive move t...
...,...,...
67,2022-08-22 09:21:07+00:00,Some of the 60 foreign workers who protested g...
68,2022-08-22 08:49:44+00:00,#BoycottQatar2022\n\n#Qatar #Qatar2022 #WorldC...
69,2022-08-21 09:33:27+00:00,Migrant workers who built the World Cup in Qat...
70,2022-08-20 16:30:23+00:00,Saudi-Egyptian World Cup bid could make Qatar’...
71,2022-08-19 19:36:43+00:00,At the 2014 #WorldCup #FIFA faced a choice. \n...

In [ ]:
#qatar2022
#FifaWorldCup2022
#sportswashing
#BoycottQatar2022
#sportsvasking
#HumanRights

In [ ]:
frames = [tweets_df1, tweets_df2, tweets_df3, tweets_df4, tweets_df5, tweets_df6]

df = pd.concat(frames)

In [ ]:
df

,Date Created,Tweet
0,2022-09-19 14:01:25+00:00,@FeraSY1 #Atom is not the only one.\n\nLook at...
1,2022-09-19 13:12:44+00:00,A big test ahead of the #FIFAWorldCup2022 !! \...
2,2022-09-19 12:00:09+00:00,Moving just got better... #ComingSoon \nFor bu...
3,2022-09-19 09:50:13+00:00,Fifa World Cup visitors are now buying propert...
4,2022-09-19 06:44:42+00:00,We are counting down to #Qatar2022 !! \n\n#GTV...
...,...,...
67,2022-08-22 09:21:07+00:00,Some of the 60 foreign workers who protested g...
68,2022-08-22 08:49:44+00:00,#BoycottQatar2022\n\n#Qatar #Qatar2022 #WorldC...
69,2022-08-21 09:33:27+00:00,Migrant workers who built the World Cup in Qat...
70,2022-08-20 16:30:23+00:00,Saudi-Egyptian World Cup bid could make Qatar’...
71,2022-08-19 19:36:43+00:00,At the 2014 #WorldCup #FIFA faced a choice. \n...

In [ ]:
df.head(10)

               Date Created                                              Tweet
0 2022-09-19 14:01:25+00:00  @FeraSY1 #Atom is not the only one.\n\nLook at...
1 2022-09-19 13:12:44+00:00  A big test ahead of the #FIFAWorldCup2022 !! \...
2 2022-09-19 12:00:09+00:00  Moving just got better... #ComingSoon \nFor bu...
3 2022-09-19 09:50:13+00:00  Fifa World Cup visitors are now buying propert...
4 2022-09-19 06:44:42+00:00  We are counting down to #Qatar2022 !! \n\n#GTV...
5 2022-09-19 06:35:39+00:00  Tebak Skor Berhadiah Freebet sebesar 50.000\n\...
6 2022-09-19 06:25:52+00:00  ചെറിയ രീതിയിലുള്ള ചില മാറ്റങ്ങള്‍ വരുത്തിയാണ് ...
7 2022-09-19 04:07:58+00:00  🚨 กระแสแรงไม่หยุด Son7\n \n#ข่าวฟุตบอล #บอลโลก...
8 2022-09-19 04:07:32+00:00  🚨 โอแอล 0-1 เปแอ็สเฌ ลีกเอิง\n \n#ข่าวฟุตบอล #...
9 2022-09-19 00:28:04+00:00  🇩🇰🇳🇱🏆⚽️🇶🇦\n#theloudhouse #tlh #tlhfanart #loud...

In [ ]:
df10 = df[df['Tweet'].map(lambda x: x.isascii())]

In [ ]:
df10

,Date Created,Tweet
0,2022-09-19 14:01:25+00:00,@FeraSY1 #Atom is not the only one.\n\nLook at...
2,2022-09-19 12:00:09+00:00,Moving just got better... #ComingSoon \nFor bu...
3,2022-09-19 09:50:13+00:00,Fifa World Cup visitors are now buying propert...
4,2022-09-19 06:44:42+00:00,We are counting down to #Qatar2022 !! \n\n#GTV...
12,2022-09-18 21:20:56+00:00,Serious countries are already making preparati...
...,...,...
65,2022-08-22 17:32:24+00:00,#Qatar #WorldCup Controversy Continues: 60 Mig...
67,2022-08-22 09:21:07+00:00,Some of the 60 foreign workers who protested g...
68,2022-08-22 08:49:44+00:00,#BoycottQatar2022\n\n#Qatar #Qatar2022 #WorldC...
69,2022-08-21 09:33:27+00:00,Migrant workers who built the World Cup in Qat...
71,2022-08-19 19:36:43+00:00,At the 2014 #WorldCup #FIFA faced a choice. \n...

In [ ]:
# determining the name of the file
file_name = 'Twitter Data.csv'
  
# saving the excel
df10.to_csv(file_name)